<div>
  <div>
    <input type="text" placeholder="primeiro nome" ng-model="m.firstname">
  </div>
  <div>
    <input type="text" placeholder="ultimo nome" ng-model="m.lastname">
  </div>
  <div>
		<input type="text" placeholder="nome do usuario" ng-model="m.username">
	</div>
  <div>
    <input type="email" placeholder="seu@emailcom" ng-model="m.email">
  </div>
	<div>
		<input type="password" placeholder="senha" ng-model="m.password">
	</div>
	<!--<button ng-click="m.singup()">criar conta</button>-->
	<span ng-show="m.loading">loading...</span>
</div>
