<div>
  <div>
    <input type="text" placeholder="primeiro nome" ng-model="outrom.firstname">
  </div>
  <div>
    <input type="text" placeholder="ultimo nome" ng-model="outrom.lastname">
  </div>
  <div>
		<input type="text" placeholder="nome do usuario" ng-model="outrom.username">
	</div>
  <div>
    <input type="email" placeholder="seu@emailcom" ng-model="outrom.email">
  </div>
	<div>
		<input type="password" placeholder="senha" ng-model="outrom.password">
	</div>
	<button ng-click=outrom.singup()>criar conta</button>
  <span ng-show="outrom.loading">loading...</span>
</div>
